*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    padding: 21.84px 0;
}
.container{
    width:calc( 100% - 332.88px);
    margin:0 auto;
}
.row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.list ul{
    display:flex;
    gap:60px;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:#3A3845;
    font-size:14px;
    font-family: 'Inter', sans-serif;
}
.icons ul{
    display:flex;
    gap:24px;
    list-style-type:none;
}
.colleation_section{
    gap: 30px;
    padding-top:40px;
    padding-bottom: 40px;
}
.colleation{
    width:calc( (100% - 90px) / 4);
    text-align:center;
}
img{
    width:100%;
}
h2{
   margin-top:23px;
   border-bottom: 2px solid black;
}
.items{
    display:flex;
    height:500px;
    align-items:flex-start;
}
.item{
    width:200px;
}
.demo{
    height:200px;
}