*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    padding: 21.84px 0;
}

p{
    color: purple !important;
    font-size: 24px;
}

.hero p{
    color: yellow;
    background-color: blue;
}

.hero .demo{
    color: green;
    font-weight: bold;
}

.container{
    width:calc( 100% - 332.88px);
    margin:0 auto;
}
.row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.list ul{
    display:flex;
    gap:60px;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:#3A3845;
    font-size:14px;
    font-family: 'Inter', sans-serif;
}
.icons ul{
    display:flex;
    gap:24px;
    list-style-type:none;
}

.hero{
    background-color:#8999d5;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:14px;
}

@media screen and (min-width:0) and (max-width:996px){
    .list{

        display:none;
    }
    .icons{
        display: none;
    }
    .menu{
        display: flex;
    }
}

.colleation_section{
    gap: 30px;
    padding-top:40px;
    padding-bottom: 40px;
}
.colleation{
    width:calc( (100% - 90px) / 4);
    text-align:center;
}

@media screen and (min-width:0) and (max-width:700px){
    .row .colleation_section{
        flex-direction: column;
    }
    .colleation{
    width: 100%;
    }
}

@media screen and (min-width:771px) and (max-width:900px){
    .colleation{
    width:calc( (100% - 60px) / 3);
    }
}

@media screen and (min-width:771px) and (max-width:900px){
    .colleation{
    width:calc( (100% - 30px) / 2);
    }
}
img{
    width:100%;
}
h2{
   margin-top:23px;
   /* border-bottom: 2px solid black; */
}
